$contentBackground: #2C2F3C; //Задний фон
$imageback: url(../img/m-h-night.jpg); //картинка
$FontSize: 13px; //Размер шрифта
$colorcontent: #fff; //текст
$headerlogoTextColor: #Fff;
$secondFont: 'Fresca', sans-serif;
$mainFont: 'Source Sans Pro', sans-serif;
$firstFont: 'Hind', sans-serif;
$thirdFont: 'Hind', sans-serif;
$bgtextp: #FF4E33;
$bckbut: #E3AC00;
$logincolor: #fff;
$TextColorcard: #c0c3ce;
$Gradientbanner: linear-gradient(to right, #DB9F08, #99374B);
$textcolor: #fff;
$buttoncolor: #fff;
$sectionBgr: #3B3F50;



// $font-base: 26px;
// $color-base: green;
// $weight-base: 300;
// $padding-base: 5px;
// $margin-base: 30px;