$fontFamily: (
	'mainFont': 'Fresca', 
	'firstFont': 'Source Sans Pro'
);
$contentBackground: #2C2F3C; //Задний фон
$imageback: url(../img/m-h-night.jpg); //картинка
$FontSize: 13px; //Размер шрифта
$colorcontent: #fff; //текст
$headerlogoTextColor: #Fff;
$bgtextp: #FF4E33;
$bckbut: #E3AC00;
$logincolor: #fff;
$TextColorcard: #c0c3ce;
$Gradientbanner: linear-gradient(to right, #DB9F08, #99374B);
$textcolor: #fff;
$buttoncolor: #fff;
$sectionBgr: #3B3F50;