$contentBackground: #fff; //Задний фон
$imageback: url(../img/m-h-day.jpg); //картинка
$FontSize: 13px; //Размер шрифта
$colorcontent:#2C2F3C; //текст
$headerlogoTextColor: #3B3F50;
$secondFont: 'Fresca', sans-serif;
$mainFont: 'Source Sans Pro', sans-serif;
$firstFont: 'Hind', sans-serif;
$thirdFont: 'Hind', sans-serif;
$bgtextp: #14A0C7;
$bckbut: #699900;
$logincolor: #fff;
$TextColorcard: #c0c3ce;
$Gradientbanner: linear-gradient(to right, #629217, #3260C6);
$textcolor: #fff;
$buttoncolor: #fff;
$sectionBgr: #2C2F3C;



// $font-base: 30px;
// $color-base: red;
// $weight-base: 500;
// $padding-base: 10px;
// $margin-base: 15px;